.skillInput {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.skillInput p {
  margin: 0;
  margin-right: 1rem;
}

.skillSelectWrapper {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.skillSelectWrapper input,
.skillSelectWrapper select {
  margin-bottom: 0;
}

.addSkillButton {
  margin-left: 1rem;
}

.avatarPreview {
  height: 8rem;
  width: auto;
  margin-bottom: 1rem;
}

.currentAvatarText {
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}
